RewriteEngine on
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
RewriteRule ^.*$ https://www.%{SERVER_NAME}%{REQUEST_URI} [L,R]
RewriteCond %{HTTP_HOST} ^hostmeinca.com [NC]
RewriteRule ^(.*)$ https://www.hostmeinca.com/$1 [L,R=301]
